.asset-library {
  display: flex;
  flex-direction: column;

  .spinny {
    text-align: center;
    margin: 2rem 0 4rem 0;
  }

  .spinny,
  .spinny * {
    mix-blend-mode: multiply;
  }

  .SortingOptions,
  .filter-options {
    padding: 0.5rem;

    select {
      width: 100%;
      margin-bottom: 0.2rem;
      font-size: smaller;
    }
  }

  * {
    font-size: inherit;
  }

  .SortingOptions {
    font-size: smaller;
  }
}

.inspector {
  position: relative;

  img {
    aspect-ratio: 1;
    width: 100%;
    max-height: 320px;
  }

  &.scripts img {
    display: none;
  }

  .asset-browser-inspector {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-height: ~'calc(100vh - 200px)';
    overflow: auto;

    button {
      .roundedButton();
    }

    dt {
      color: #fff7;
      font-size: x-small;
    }

    dd {
      margin: 0 0 1rem 0;
    }

    header {
      position: relative;

      h3 {
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        margin: 0;
      }
    }

    div.MainActionsButtons {
      margin: 0 0 20px 0;
      display: flex;
      justify-content: space-evenly;

      button {
        margin-right: unset;
        height: 32px;
      }
    }

    textarea {
      width: 100%;
    }

    /* The buttons at the bottom of inspector: Remove, Report.. */

    dd.user-actions {
      button {
        &.-red {
          background-color: #a93f3f;
        }
      }
    }
  }
}

.assets {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;

  .asset-browser {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px;

    img {
      border-radius: 2px;
    }

    /**
      * Each asset card container in the client;
      * mainly used to style the action buttons on hover;
      */
    div.asset-card-container {
      position: relative;
      div.asset-card-actions {
        display: none;
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
      }

      &:hover {
        div.asset-card-actions {
          display: flex;
          gap: 5px;
          justify-content: center;
        }
      }
    }
  }

  //&.-script-chooser {
  //  > div.inspector {
  //    width: 60%;
  //  }
  //}

  //> div.inspector {
  //  width: 38%;
  //  max-width: 300px;
  //  background-color: #2b2b2b;
  //  padding: 0;
  //  border-top-left-radius: 5px;
  //  right: 0;
  //  top: -30px;
  //  bottom: 0;
  //
  //  display: flex;
  //  flex-direction: column;
  //  position: absolute;
  //
  //  button {
  //    .roundedButton();
  //  }
  //
  //  /* We can edit the name, description or category */
  //  input[type='text'],
  //  textarea,
  //  dd > select {
  //    background: none;
  //    border: none;
  //    border-bottom: 2px solid #585858;
  //
  //    option {
  //      color: black;
  //    }
  //  }
  //
  //  /*Make textarea a tad darker so we can distinguish it easier */
  //  textarea {
  //    background-color: #2e2e2e;
  //  }
  //
  //  header {
  //    margin-bottom: 5px;
  //    background-color: #1d1e1e;
  //    border-top-left-radius: 5px;
  //    padding: 5px;
  //    margin: 0;
  //    button.close {
  //      margin-right: 0;
  //      position: absolute;
  //      right: 5px;
  //      top: 5px;
  //      cursor: pointer;
  //    }
  //
  //    input[type='text'] {
  //      font-size: medium;
  //    }
  //  }
  //
  //  .panel {
  //    color: black;
  //  }
  //
  //  > div.scrollContainer {
  //    height: 100%;
  //    overflow-y: auto;
  //    overflow-x: hidden;
  //    padding: 0 6px 0 4px;
  //  }
  //
  //  div.img {
  //    text-align: center;
  //  }
  //  img {
  //    width: 160px;
  //    height: 160px;
  //  }
  //
  //  /* The main buttons when opening the inspector (Insert, copy, view script) */
  //  div.MainActionsButtons {
  //    margin: 0 0 20px 0;
  //    display: flex;
  //    justify-content: space-evenly;
  //
  //    button {
  //      margin-right: unset;
  //      height: 32px;
  //    }
  //  }
  //
  //  /* The buttons at the bottom of inspector: Remove, Report.. */
  //  dd.user-actions {
  //    button {
  //      &.-red {
  //        background-color: #a93f3f;
  //      }
  //    }
  //  }
  //
  //  div.assetbrowser-info {
  //    dt {
  //      border-bottom: 1px solid #3e3e3e;
  //      font-weight: bold;
  //      background: #252525;
  //      padding: 3px;
  //      margin: 5px 0;
  //    }
  //  }
  //
  //  textarea {
  //    width: 98%;
  //  }
  //}
}
