.AssetCard {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  overflow: hidden;
  cursor: pointer;

  &.-small {
    // width: 140px;
    height: 100%;

    > *:nth-child(2) {
      flex-grow: 1;
    }

    > img {
      width: 140px;
      height: 140px;
    }
  }

  &.-large {
    width: 180px;

    > img {
      width: 180px;
      height: 180px;
    }
  }

  &.-preview {
    cursor: default;

    margin: 0 5px 0 0;
  }

  > img {
    width: 180px;
    height: 180px;
    background-color: #333;
    box-sizing: border-box;
    display: block;
    margin-bottom: 5px;
  }

  > div.loading-image {
    width: 100%;

    > img {
      display: block;
      margin: auto;
    }
  }
  > div.broken-image {
    width: 100%;
    height: 100%;
    filter: grayscale();
    > img {
      display: block;
      margin: auto;
    }
  }

  a {
    text-decoration: none;
    color: rgb(76, 5, 106);

    &:hover {
      color: rgb(206, 137, 235);
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    div.name {
      font-size: 90%;
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }
  }

  footer {
    margin: 0 0 0.5rem 0;
    padding: 0;
    border-top: none;
    color: #fff7;
    font-size: x-small;

    display: flex;
    justify-content: space-between;

    div.type {
      img {
        filter: grayscale() brightness(1.5) contrast(2);
        opacity: 0.5;
        display: block;
        width: 16px;
        height: 16px;
      }
    }

    div.author {
      font-size: 90%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }

    div + div {
      margin-left: 4px;
    }
  }

  div.viewsCount {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 5px;
    background: #3d2f5fbf;
    color: #ececec;
  }

  div.time {
    font-size: 90%;
  }
}
