div.NotificationOverlay {
  top: 43px;
  position: fixed;
  right: 25px;
  width: 305px;
}

div.NFTNotificationMessage {
  position: relative;
  top: 10px;
  right: 10px;
  z-index: 1000000;

  width: 300px;
  border-radius: 10px;
  padding: 15px 50px 15px 20px;
  margin: 2px 0;
  background-size: 40px;

  color: #cacaca;

  box-sizing: border-box;
  height: fit-content;
  opacity: 1;
  transition: all 0.5s ease-in-out;

  &.-hidden {
    height: 1px;
    opacity: 0;
  }

  ul {
    overflow: hidden;
  }

  li {
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
  }

  h2 {
  }

  a.notif-close {
    position: absolute;
    top: -5px;
    left: -10px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #aeaeae;
    border-radius: 50%;
    background: #605f61;
    font-size: 20px;
    display: inline-block;
    line-height: 0;
    padding: 11px 5px;

    &:before {
      content: '×';
    }

    &:hover {
      background: #363536;
    }
  }
}
