/* Inspector ui */
.ParcelInspectorTab {
  .InspectorTabTools {
    padding: 4px 6px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .scrollContainer {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  h3,
  h4 {
    color: #eee;
    margin-top: 10px;
  }

  ul {
    margin: 4px 0 0 0;
    padding: 0;
  }

  li:hover {
    color: #ddd;
    cursor: pointer;
  }

  li {
    position: relative;
    font-size: smaller;
    top: 0;
    background-color: var(--tinge);
    border-radius: 5px;

    p {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    img {
      width: 24px;
      position: absolute;
      left: 4px;
    }

    list-style: none;
    padding: 8px 4px 4px 34px;
    border: none;
    border-bottom: 1px solid #333;
    margin: 0 0 2px;

    small {
      color: #888 !important;
    }
  }

  .feature-container {
    display: flex;
    flex-direction: row;
  }

  .feature-copy-container {
    width: 210px;
  }

  .feature-copy-container-group {
    width: 210px;
  }

  .feature-checkbox {
    margin-top: 12px;
  }

  .checkbox {
    cursor: pointer;
    height: 15px;
    width: 15px;
  }

  .inspector-bottom-bar {
    display: flex;
    flex-direction: row;
    padding: 9px 4px 9px 9px;
  }

  .inspector-bottom-bar-buttons {
    width: 184px;
  }

  .inspector-bottom-bar-checkbox-container {
    white-space: nowrap;
  }

  .inspector-bottom-bar-buttons-group {
    width: 188px;
  }
}
