div.OverlayWindow {
  &.-nft-view {
    /* Large button that says "Try it on" */

    .overlay-large-button {
      border-radius: 4px;
      background: #aaa;
      padding: 4px;
      color: #222;
      cursor: pointer;

      h1 {
        color: #111;
      }

      &:hover {
        background: #909090;
      }
    }

    section.SplitPanel {
      .Panel {
        /*image*/

        img {
          margin-bottom: 4px;
          width: 100%;
        }
      }
    }

    @media @mobile {
      /* Make image or video smaller on mobile */
      section.SplitPanel .Panel {
        img,
        video {
          width: 80%;
        }
      }
    }
  }
}
