section.WelcomeShortcuts {
  min-height: 0;

  overflow-x: visible;
  overflow-y: visible;

  a {
    color: #f8daff;
    font-weight: bold;
  }

  em,
  strong,
  span {
    transition: ease-in-out 0.5s;

    &.-inactive {
      opacity: 0.5;
    }

    &.-highlight {
      color: #f4c6ff;
    }
  }

  > div.pointer-lock-instructions {
    margin-top: 20px;
    position: relative;

    i.arrow {
      &.-pointing {
        animation-duration: 0.5s;
        animation-name: WelcomeShortcuts-pointer-lock-hint;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        font-size: 20px;
        padding-left: 5px;
      }

      top: 0;
      right: 0;
      padding-left: 0;
      position: absolute;
      transition: all 0.5s ease-in-out;
      font-size: 15px;
    }
  }

  > h3 {
    color: inherit;
    font-size: 100%;
    margin: 20px 0 0;
  }

  > dl {
    min-height: 0;
    background: var(--tinge);
    padding: 20px;

    margin: 10px 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity ease-in-out 1s;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;

    dt,
    dd {
      margin: 0;
    }

    dt {
      align-self: end;
      padding-bottom: 10px;
    }

    dd {
      label {
        display: inline-block;
        padding: 10px;
        background: #222;

        border-radius: 3px;
        font-weight: bold;
        margin: 2px;
        min-width: 15px;

        &.-highlight {
          background: rgb(82, 82, 82);
        }
      }

      text-align: center;
    }
  }

  > div.more-help {
    margin: 10px 0;

    h3 {
      margin: 0;
      color: inherit;
      font-size: inherit;
    }

    ul {
      margin-left: 20px;

      li {
        margin: 5px 0;
      }
    }
  }

  > div.interact-hint {
    margin: auto 0 10px;

    i {
      &.-pointing {
        position: relative;
        animation-duration: 0.3s;
        animation-name: WelcomeShortcuts-interact-hint;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
  }
}

@keyframes WelcomeShortcuts-pointer-lock-hint {
  from {
    right: -5px;
  }

  to {
    right: -15px;
  }
}

@keyframes WelcomeShortcuts-interact-hint {
  from {
    top: 0;
  }

  to {
    top: 3px;
  }
}
