/* Admin */

#islands-canvas {
  width: 70vw;
  height: 70vh;
}

.island-admin {
  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      text-align: left;
      border-bottom: 1px solid #ccc5;
      padding: 0.5em;
    }
  }
}
