/* Grid for showing things*/
.CardList {
  padding: 4px 4px 4px 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  width: 100%;

  & > div {
    // flex: 1; // 1 50%;
    // background: hotpink;
  }

  .EmptyList {
    margin: auto;
  }

  @media screen and (min-height: 1200px) {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  &.small {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

    .Card {
      margin: 2px 4px;
      padding: 4px;
    }
  }
}

.EmptyList {
  display: flex;
  flex-direction: column;

  .icon {
    display: none;
  }

  .lead {
    margin: 0;
    display: none;
  }

  .subtitle {
    // text-align: center;
    margin: 0;
  }
}

.Card {
  justify-content: center;

  margin: 4px 4px;
  padding: 4px 4px 4px 4px;

  display: block;
  position: relative;
  text-decoration: unset;
  overflow: hidden;
  cursor: pointer;

  img {
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: block;
    margin: auto auto 5px;
    height: auto;
    width: 100%;
    object-fit: scale-down;
  }

  // Special hover effect
  .img_container {
    position: relative;
  }

  .womp-time {
    display: none;
  }

  // Used for cards in-game and on-Map
  &.-compact {
    margin: 0;
    padding: 4px;
    border-radius: 0.25rem;

    * {
    }

    .womp-time {
      display: none;
    }

    &:hover {
      background: none;

      * {
        text-shadow: 1px 1px 3px black;
      }

      img {
        border: 2px solid white;
      }
    }
  }

  a {
    text-decoration: none;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      flex: 1;
    }

    div.user {
      font-size: 85%;
      float: right;
      text-align: right;

      a {
        color: var(--small);
      }
    }

    div + div {
      margin-left: 4px;
    }
  }

  div.userDescription {
    display: flex;
    justify-content: space-between;
    color: #7e7e7e;

    div.description {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-style: italic;
      flex: 1;
      padding: 6px 0 0 0;
    }
  }

  div.teleport {
    display: flex;
    justify-content: center;

    a,
    button {
      text-align: center;
      background: #ffffff;
      border: 1px solid #7e7e7e;
      margin-top: 10px;
      padding: 10px 0;
      cursor: pointer;
    }
  }

  div.userCount {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    border-radius: 0.25rem;
    background: #3d2f5fbf;
    color: #ececec;
  }
}

// sits outside of the card, unless 'compact'
.womp_time > p {
  font-size: 80%;
  font-weight: 600;
  float: right;
  line-height: 0;
  padding: 2px 10px 10px 0;
  margin: 2px;
}
