// Map

.map {
  &.map-overlay {
    min-width: 10vw; // arbitrary minimum to prevent collapse
    height: 75vh;
    max-height: 75vh;
    overflow: hidden;
    margin-bottom: 20px;

    .leaflet-tile-pane {
      opacity: 0.5;
    }
  }

  &.map-web {
    aspect-ratio: unset;
    margin-top: 1rem;
    height: 80vh;
    background: var(--border);
    border-radius: 2px;
  }

  &.leaflet-container {
    width: 100%;

    border: 2px solid #333333a6;
    background: #333a;
    border-radius: 4px;

    .leaflet-control-layers {
      button.closeControl {
        display: block;
        width: 100%;
        margin: 0 -5px -5px -5px;
        box-sizing: content-box;
        border: none;
        cursor: pointer;
        background: #e8e8e8;

        &:hover {
          background: #eee;
        }
      }
    }

    > button {
      position: absolute;
      z-index: inherit;
      padding-top: 2px;
      padding-bottom: 2px;
      top: 5px;
      right: 5px;
      cursor: pointer;
      border: #6d6d6d 2px solid;
      border-radius: 4px;

      &:hover {
        background-color: #505050;
        border-color: #ffffff;
      }

      &:before {
        content: '';
      }
    }

    .map-teleport-popup {
      button {
        cursor: pointer;

        border: #b6b6b6 2px solid;
        border-radius: 4px;
        color: black;
        margin: 2px;
        padding: 4px;

        &:hover {
          background-color: #e6e6e6;
        }
      }
    }

    .leaflet-control-layers {
      visibility: visible;

      color-scheme: light;
      background-color: #ffffffbf;
    }

    div.SearchMapBar {
      position: absolute;
      z-index: 3001;
      top: 10px;
      left: 50px;
      width: 25%;
      height: 25px;

      input {
        width: 100%;
        height: 100%;
        font-size: larger;
      }
    }
  }

  /**
    * Tiny leaflet fixes
    */
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out {
    text-indent: 1px;
    padding: 0 !important;
  }

  /**
  * Fix popup image size in leaflet map for WOMP cards
  */
  div.leaflet-popup-content {
    div.womp {
      a > img {
        max-width: 100%;
        object-fit: contain;
      }
    }
  }
}

.map-icon {
  width: 15px !important;
  height: 15px !important;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &.sandbox {
    background-image: url(/icons/mapIcons/sandbox_icon.png);
  }

  &.gallery {
    background-image: url(/icons/mapIcons/gallery_icon.png);
  }

  &.club {
    background-image: url(/icons/mapIcons/club_icon.png);
  }

  &.park {
    background-image: url(/icons/mapIcons/park_icon.png);
  }

  &.bar {
    background-image: url(/icons/mapIcons/bar_icon.png);
  }

  &.theater {
    background-image: url(/icons/mapIcons/theater_icon.png);
  }

  &.food {
    background-image: url(/icons/mapIcons/food_icon.png);
  }

  &.rest {
    background-image: url(/icons/mapIcons/rest_icon.png);
  }

  &.animal {
    background-image: url(/icons/mapIcons/animal_icon.png);
  }

  &.education {
    background-image: url(/icons/mapIcons/education_icon.png);
  }

  &.library {
    background-image: url(/icons/mapIcons/library_icon.png);
  }

  &.sports {
    background-image: url(/icons/mapIcons/sports_icon.png);
  }

  &.factory {
    background-image: url(/icons/mapIcons/factory_icon.png);
  }

  &.beach {
    background-image: url(/icons/mapIcons/beach_icon.png);
  }

  &.teleports {
    background-image: url(/icons/mapIcons/teleports_icon.png);
  }

  &.shops {
    background-image: url(/icons/mapIcons/shops_icon.png);
  }

  &.scenic {
    background-image: url(/icons/mapIcons/scenic_icon.png);
  }

  &.game {
    background-image: url(/icons/mapIcons/game_icon.png);
  }

  &.event {
    background-image: url(/icons/mapIcons/event_icon.png);
  }

  &.concert {
    background-image: url(/icons/mapIcons/concert_icon.png);
  }

  &.music {
    background-image: url(/icons/mapIcons/music_icon.png);
  }

  &.sale {
    background-image: url(/icons/mapIcons/sale_icon.png);
  }

  &.womp {
    background-image: url(/images/camera-transparent.png);
    transform: scale(1.8);
  }

  &.avatar {
    background-image: url(/images/marker.png);
  }

  &.money {
    background-image: url(/icons/mapIcons/money_icon.png);
  }
}

/* !important needed here as somehow leaflet forces an element-specific style*/
div.leaflet-marker-icon.MarkersClusters {
  margin-left: -20px !important;
  margin-top: -20px !important;
  width: 40px !important;
  height: 30px !important;
  z-index: 298;
  background-clip: padding-box;
  border-radius: 5px;
  background-color: #85858563;
  font-size: larger;

  br {
    height: 8px;
  }

  > div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    font:
      12px 'Helvetica Neue',
      Arial,
      Helvetica,
      sans-serif;
  }

  &.-avatar {
    > div {
    }
  }
}
