div.NearbyPlayers {
  background: #222;
  border-radius: 5px;
  margin: 2px 0;

  header {
    cursor: pointer;
  }

  p {
    color: #fbfafb;
    margin: 3px 0 0 5px;
  }

  div.ScrollContainer {
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto;
  }

  ul {
    margin: 0;
    padding: 10px;
    list-style: none;

    display: block;
    column-count: 2;

    li {
      cursor: pointer;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 5px;
      white-space: nowrap;
      border-radius: 5px;

      &:hover {
        text-decoration: underline;
      }

      span.player-name {
        border-radius: 7px;
        padding: 0 6px;
        display: inline-block;
      }
    }
  }
}
