.ready-player-one {
  .OverlayWindow {
    background: @overlayWindowBackground;
    color: @overlayWindowTextColor;
    box-shadow: none;

    a {
      color: inherit;

      &.external:after {
        filter: invert(78%) sepia(35%) saturate(913%) hue-rotate(208deg) brightness(102%) contrast(104%);
      }
    }
  }
}

.mailbox-dialog {
  min-height: 50vw;
}

.OverlayWindow {
  background: @overlayWindowBackground;
  border: none;
  border-radius: 1rem;

  iframe {
    border-radius: 1rem;
    background: #eee;
  }

  left: 50%;
  max-height: 95vh;

  overflow: auto;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 12000;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  header {
    img.blockie {
      position: absolute;
      left: 1rem;
      top: 1.3rem;
    }
  }

  input,
  button,
  select,
  textarea {
    color: @overlayWindowInputColor;

    i {
      // icons, often on buttons
      color: @overlayWindowInputColor;
    }

    &:disabled {
      color: #666;
    }
  }

  @media @mobile {
    width: 80vw;
    height: 95vh;
  }

  .close {
    background: none;
    border-radius: 2rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    color: #ccc;
    cursor: pointer;

    &:hover {
    }
  }

  h1 {
    font-weight: bold;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  h1 + .sub {
    font-size: 1rem;
  }

  .nft-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    a:hover {
      background: none !important;
    }

    img {
      max-width: 100%;
      border-radius: 0.1rem;
    }
  }

  p {
    user-select: text;
  }

  p,
  h4 {
    margin: 0 0 1rem 0;
  }

  div.OverlayHighlightContent {
    &.-canEdit {
      h4 {
        color: @builder;
      }
    }

    &.-moderator {
      h4 {
        color: @moderator;
      }
    }

    &.-wallet {
      p {
        font-family: monospace;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &.-link {
      a {
      }
    }

    button {
      margin: 2px;
    }
  }

  &.-resizable {
  }

  &.-takeWomp {
    height: auto;
    width: 700px;

    > header {
      h3 i {
        margin-right: 3px;
      }

      padding: 16px;

      button.close {
        top: 16px;
        right: 16px;
      }
    }
  }

  &.-noHiddenOverflow {
    overflow: initial;
  }

  &.-small-width {
  }

  &.-WhatsNew {
    .PagingButtons {
      margin-bottom: 15px;

      span {
        font-size: larger;
      }
    }

    .markup {
      padding-left: 20px;
    }
  }

  &.-auto-height {
    height: fit-content;
    @media @mobile {
      // on mobile fit-content looks broken
      height: 90%;
    }
  }

  &.-fixed {
    position: fixed;
  }

  &.-top-offset {
    top: 10vh;
    transform: none;
    margin-left: -25vw;
  }

  /* Makes more sense for OverlayWindow to be centered by default. Especially on web. */

  &.-right-offset {
    animation-name: slidein-right-offset;
    transform: none;
    left: unset;
    right: 10px;
    top: 54px;
  }

  /* Creates a small window that isn't exactly a Main UI window
This is mainly used for the script-browser in exanded editor. The idea is to create an very small overlay window
similar to a dropdown */

  &.-script-library {
    animation-duration: unset;
    animation-name: none;

    top: unset;
    left: unset;
    transform: none;
    right: 0;
  }
}
