.SnapshotItem {
  > header {
    display: flex;

    div:first-child {
      flex: 1;
    }

    button {
      margin-right: 0 !important;
    }
  }

  li {
    small {
      > a {
        color: #55258c;
      }
    }
  }
}
